<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><stepAssemblies>
      <stepAssembly assembly="TestReport.SpecFlow" />
    </stepAssemblies></specFlow>
<appSettings>
  <!--Report Email settings--><add key="AppUrl" value="https://test.salesforce.com/" />
  <add key="testResultFolder" value="D:\CSharpProjects\UnitTestProject-SFDC\UnitTestProject-SFDC\TestResults" />
  <add key="sendEmailReport" value="false" />
  <add key="stmpHost" value="your.smpt.host" />
  <add key="stmpPort" value="587OrElse" />
  <add key="stmpSSL" value="trueOrFault" />
  <add key="stmpUser" value="user" />
  <add key="stmpPass" value="password" />
  <add key="stmpFrom" value="anyName@your.domain" />
  <add key="stmpTo" value="anyone@your.domain;anyGroup@your.domain" /></appSettings>
</configuration>