<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
     
        
         <listener class-name="Selenium.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
         

 </listeners>

  <test name="Validating User login">
    <classes>
      <class name="Selenium.HomePage"/>
          </classes>
      </test>
      
    <test name="Validating title in the Page">
         <classes>
      <class name="Selenium.validateTitle"/>
       </classes>
      </test>
       <test name="App Testing">
         <classes>
      <class name="Selenium.AppTest"/>
       </classes>
      </test>
            <test name="Validating navigation Bar">
         <classes>
      <class name="Selenium.validateNavigationBar"/>
   </classes>
      </test>
   <!-- Test -->
</suite> <!-- Suite -->
